Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
python-dotenv==1.0.0
stripe==6.1.0
Werkzeug==2.3.7
SQLAlchemy==2.0.21
email-validator==2.0.0
gunicorn==21.2.0
google-cloud-translate==3.12.0
flask-wtf==1.1.1 